name: Weekly All Maps Unit Testing
on:
  schedule:
  - cron: "0 3 * * 1"
  workflow_dispatch:

jobs:
  find_all_maps:
    name: Find Maps to Test
    runs-on: ubuntu-latest
    outputs:
      maps: ${{ steps.map_finder.outputs.maps }}
    concurrency:
      group: find_all_maps-${{ github.head_ref || github.run_id }}
    steps:
      - uses: actions/checkout@v3
      - name: Find Maps
        id: map_finder
        run: |
          shopt -s extglob
          echo "$(ls -mw0 maps/!(*override*).json)" > maps_output.txt
          sed -i -e s+maps/+\"+g -e s+.json+\"+g maps_output.txt
          echo "Maps: $(cat maps_output.txt)"
          echo "maps={\"paths\":[$(cat maps_output.txt)]}" >> $GITHUB_OUTPUT
      - name: Set up BYOND cache
        uses: ./.github/actions/restore_or_install_byond

  run_all_tests:
    name: Unit Tests
    needs: [find_all_maps]
    strategy:
      fail-fast: false
      matrix:
        map: ${{ fromJSON(needs.find_all_maps.outputs.maps).paths }}
    concurrency:
      group: run_all_tests-${{ github.head_ref || github.run_id }}-${{ matrix.map }}
    uses: ./.github/workflows/run_unit_tests.yml
    with:
      map: ${{ matrix.map }}
